<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../assets/public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../assets/public/css/myHome.css">
<script type="text/javascript" src="../assets/public/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../assets/public/js/date.js"></script>
<script type="text/javascript" src="../assets/public/js/changeLink.js"></script>
<script type="text/javascript" src="../assets/public/js/myHome.js"></script>
<title>My Film System</title>
</head>
<body>
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">系统</a>
			</div>
			
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active hov"><a href="#tab_1">Operation</a></li>
					<li class="hov"><a href="#tab_2">About</a></li>
				</ul>
				<ul class="nav navbar-nav user">
					<li id="userName"></li>
				</ul>	
				<ul class="nav navbar-nav navbar-right date">
					<a href="/Exam-12647-20170106-1/operation/quit">退出</a>
				</ul>	
				<ul class="nav navbar-nav navbar-right col-md-2 date">
						<script type="text/javascript">
							getDate();
						</script>
				</ul>
		    </div>
		</div>
	</nav>
	
	<div class="panel show" id="tab_1">
		<div class="left-container">
			<div class="list-group">
			    <a href="/Exam-12647-20170106-1/operation/iframeRight" target="iframe-right"></a>
	        	<a class="list-group-item" id="color" href="/Exam-12647-20170106-1/operation/jumpshow" target="iframe-right">ShowListInformation</a>
				<a class="list-group-item" id="color" href="/Exam-12647-20170106-1/operation/jumpAdd" target="iframe-right">AddInformation</a>
			</div>
		</div>
			
		<div class="right-container">
			<div>
				<iframe src="/Exam-12647-20170106-1/operation/iframeRight" name="iframe-right" class="iframe-right"></iframe>
			</div>
		</div>
	</div>
	
	<div class="panel" id="tab_2">
		<div class="left-container">
			<div class="list-group">
			    <a href="/Exam-12647-20170106-1/operation/iframeRight" target="iframe-right1"></a>
	        	<a class="list-group-item" id="color" href="/Exam-12647-20170106-1/about/aboutMine" target="iframe-right1">AboutMine</a>
			</div>
		</div>
		<div class="right-container">
			<div>
				<iframe src="/Exam-12647-20170106-1/operation/iframeRight" name="iframe-right1" class="iframe-right"></iframe>
			</div>
		</div>
	</div>
</body>
</html>